<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/factories.js"></script>
    <script src="js/controllers.js"></script>
</head>
  </head>
  <body ng-app="chat">

    <ion-pane ng-controller="ChatController">
        <ion-nav-bar class="bar-stable" align-title=center"">
            <ion-nav-title>Chat</ion-nav-title>
        </ion-nav-bar>

        <ion-content id="chatBody" delegate-handle="chatScroll" on-scroll="onScroll(this)">
                    <div class="list">
                        <a ng-repeat="message in messages" class="item" href="#" ng-class="{'item-avatar': message.id_device != myInfo.id, 'item-avatar-right': message.id_device == myInfo.id}">
                            <img src="./img/avatar-user.png">
                            <h2>user.{{message.id_device}}</h2>
                            <p>{{message.message}}</p>
                        </a>
                    </div>
      </ion-content>
      <ion-footer-bar class="">
              <label class="item item-input" style="position:absolute; left:1px; width:100%">
                    <input type="text" ng-model="message.body">
                </label>
                <a style="position:absolute; right:1%; z-index: 1000" class="button button-icon icon ion-paper-airplane" ng-click="sendMessage()"></a>
            </ion-footer-bar>
    </ion-pane>
  </body>
</html>
